<div ng-init="student.getStudentList()">
    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>DOB</th>
                <th>Blood Group</th>
                <th>Father Name</th>
                <th>Mother Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="data in student.list">
                <td>{{data.firstName}} {{data.middleName}} {{data.lastName}}</td>
                <td>{{data.dob}}</td>
                <td>{{data.bloodGroup}}</td>
                <td>{{data.parentDetails[0].fatherDetails.firstName}} {{data.parentDetails[0].fatherDetails.middleName}} {{data.parentDetails[0].fatherDetails.lastName}}</td>
                <td>{{data.parentDetails[0].motherDetails.firstName}} {{data.parentDetails[0].motherDetails.middleName}} {{data.motherDetails[0].fatherDetails.lastName}}</td>
                <td>
                    <div class="dropdown pull-right">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Action
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a ng-click="student.openStudentDetails($index)">edit</a></li>
                            <li><a href="#">delete</a></li>
                            <li><a href="#">view</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>