<div class="container-fluid">
    <uib-tabset active="admission.active">
        <uib-tab ng-repeat="tab in admission.tabs" heading="{{tab.title}}" disable="admission.disabled">
            <div ng-include="tab.content"></div>
        </uib-tab>
    </uib-tabset>
</div>