<form name="classDetail" novalidate>
    <div class="col-md-12">
        <div class="col-md-6 clientes" ng-repeat="class in admission.class">
            <div class="clientes-content">
                <div class="content-title col-md-12">
                    <div class="pull-left">
                        <span><i class="fa fa-id-card" aria-hidden="true"></i></span>
                        <span>{{class.name}} Class</span>
                    </div>
                    <div class="pull-right">
                        <small>Apply installment</small><input type="checkbox" ng-model="class.instalment" name="installment">
                    </div>
                </div>
                <div class="col-md-12">
                    <ul>
                        <li ng-if="class.annualFee">
                            <strong><small>Annual Fee</small></strong>
                            <span class="pull-right">
                                <i class="fa fa-inr" aria-hidden="true"></i>
                                {{class.annualFee}}
                            </span>
                        </li>
                        <li ng-if="class.budskit">
                            <strong><small>BUDS-KIT</small></strong>
                            <span class="pull-right">
                                <i class="fa fa-inr" aria-hidden="true"></i>
                                {{class.budskit}}
                            </span>
                        </li>
                        <li ng-if="class.tutionFee">
                            <strong><small>Tution Fee</small></strong>
                            <span class="pull-right">
                                <i class="fa fa-inr" aria-hidden="true"></i>
                                {{class.tutionFee}}
                            </span>
                        </li>
                        <li ng-if="class.eBips">
                            <strong><small>E-Bips</small></strong>
                            <span class="pull-right">
                                <i class="fa fa-inr" aria-hidden="true"></i>
                                {{class.eBips}}
                            </span>
                        </li>
                        <li ng-if="class.activityFee">
                            <strong><small>Activity Fee</small></strong>
                            <span class="pull-right">
                                <i class="fa fa-inr" aria-hidden="true"></i>
                                {{class.activityFee}}
                            </span>
                        </li>
                        <li ng-if="class.total">
                            <strong><small>Total</small></strong>
                            <span class="pull-right">
                                <i class="fa fa-inr" aria-hidden="true"></i>
                                <strong>{{class.total}}</strong>
                            </span>
                        </li>
                        <li ng-if="class.worksheet">
                            <strong><small>Total</small></strong>
                            <span class="pull-right">
                                <i class="fa fa-inr" aria-hidden="true"></i>
                                <strong>{{class.worksheet}}</strong>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="line">
                    <div class="line-1"></div>
                    <div class="line-2"></div>
                </div>
                <div class="analysis">
                    <div class="quote">
                        <input type="checkbox" ng-model="class.disc" name="discount">
                        <b>{{class.discount}}% discount</b> on annual fee
                    </div>
                    <a ng-click="admission.moveForward(class, 3);" class="see-more">make payment <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
                </div>
            </div>
        </div>
</form>