<form name="parentDetail" novalidate>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Father Details</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group" ng-class="{'error': parentDetail.fName.$touched && parentDetail.fName.$invalid}">
                                <label for="exampleInput">First Name</label>
                                <input type="text" class="form-control" ng-model="admission.student.parentDetails.fatherDetails.firstName" name="fName" required>
                                <span class="error-msg">This field is required.</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInput">Middle Name</label>
                                <input type="text" class="form-control" ng-model="admission.student.parentDetails.fatherDetails.middleName" name="mName">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" ng-class="{'error': parentDetail.lName.$touched && parentDetail.lName.$invalid}">
                                <label for="exampleInput">Last Name</label>
                                <input type="text" class="form-control" ng-model="admission.student.parentDetails.fatherDetails.lastName" name="lName" required>
                                <span class="error-msg">This field is required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" ng-class="{'error': parentDetail.email.$touched && parentDetail.email.$invalid}">
                                <label for="exampleInput">Email</label>
                                <input type="text" class="form-control" ng-model="admission.student.parentDetails.fatherDetails.email" name="email" required>
                                <span class="error-msg">This field is required.</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" ng-class="{'error': parentDetail.phone.$touched && parentDetail.phone.$invalid}">
                                <label for="exampleInput">Phone</label>
                                <input type="text" class="form-control" ng-model="admission.student.parentDetails.fatherDetails.phone" name="phone" required>
                                <span class="error-msg">This field is required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" ng-class="{'error': parentDetail.identity.$touched && parentDetail.identity.$invalid}">
                                <label for="exampleInput">Identity</label>
                                <select class="form-control" ng-model="admission.student.parentDetails.fatherDetails.IdentityCard.type" name="identity" ng-options="id for id in admission.idList" required><option></option></select>
                                <span class="error-msg">This field is required.</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" ng-class="{'error': parentDetail.idNo.$touched && parentDetail.idNo.$invalid}">
                                <label for="exampleInput">Identity Number</label>
                                <input type="text" class="form-control" ng-model="admission.student.parentDetails.fatherDetails.IdentityCard.number" name="idNo" required>
                                <span class="error-msg">This field is required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" ng-class="{'error': parentDetail.qualification.$touched && parentDetail.qualification.$invalid}">
                                <label for="exampleInput">Qualification</label>
                                <input type="text" class="form-control" ng-model="admission.student.parentDetails.fatherDetails.qualification" name="qualification" required>
                                <span class="error-msg">This field is required.</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" ng-class="{'error': parentDetail.occupation.$touched && parentDetail.occupation.$invalid}">
                                <label for="exampleInput">Occupation</label>
                                <select class="form-control" ng-model="admission.student.parentDetails.fatherDetails.occupation" name="occupation" ng-options="occupation for occupation in admission.occupations" required><option></option></select>
                                <span class="error-msg">This field is required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Present Address</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'error': parentDetail.addressLine1.$touched && parentDetail.addressLine1.$invalid}">
                                        <label for="exampleInput">AddressLine1</label>
                                        <input type="text" class="form-control" ng-model="admission.student.parentDetails.fatherDetails.address.present.addressLine1" name="addressLine1">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInput">AddressLine2</label>
                                        <input type="text" class="form-control" ng-model="admission.student.parentDetails.fatherDetails.address.present.addressLine2" name="addressLine2">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="exampleInput">State</label>
                                    <select class="form-control" ng-model="admission.student.parentDetails.fatherDetails.address.present.state" name="state" ng-click="admission.student.updateCityList(admission.student.parentDetails.state)"
                                        ng-options="state for state in admission.states"><option></option></select>
                                </div>
                                <div class="col-md-4">
                                    <label for="exampleInput">City</label>
                                    <select class="form-control" ng-model="admission.student.parentDetails.fatherDetails.address.present.city" name="city" ng-options="city for city in admission.cities"><option></option></select>
                                </div>
                                <div class="col-md-4">
                                    <label for="exampleInput">Pin Code</label>
                                    <input type="text" class="form-control" ng-model="admission.student.parentDetails.fatherDetails.address.present.pin" name="pin">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span>Permanent Address</span>
                            <span class="pull-right">
                                <small>Same as present address</small>
                                <input type="checkbox" name="sameAsPresent" ng-model="checkedFatherAdd" ng-click="admission.sameAsPresentAdd(admission.student.parentDetails.fatherDetails.address.present, checkedFatherAdd, 'father')">
                            </span>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInput">AddressLine1</label>
                                        <input type="text" class="form-control" ng-model="admission.student.parentDetails.fatherDetails.address.permanent.addressLine1" name="addressLine1">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInput">AddressLine2</label>
                                        <input type="text" class="form-control" ng-model="admission.student.parentDetails.fatherDetails.address.permanent.addressLine2" name="addressLine2">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="exampleInput">State</label>
                                    <select class="form-control" ng-model="admission.student.parentDetails.fatherDetails.address.permanent.state" name="state" ng-click="admission.student.updateCityList(admission.student.parentDetails.state)"
                                        ng-options="state for state in admission.states"><option></option></select>
                                </div>
                                <div class="col-md-4">
                                    <label for="exampleInput">City</label>
                                    <select class="form-control" ng-model="admission.student.parentDetails.fatherDetails.address.permanent.city" name="city" ng-options="city for city in admission.cities"><option></option></select>
                                </div>
                                <div class="col-md-4">
                                    <label for="exampleInput">Pin Code</label>
                                    <input type="text" class="form-control" ng-model="admission.student.parentDetails.fatherDetails.address.permanent.pin" name="pin">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Mother Details</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInput">First Name</label>
                                <input type="text" class="form-control" ng-model="admission.student.parentDetails.motherDetails.firstName" name="fName">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInput">Middle Name</label>
                                <input type="text" class="form-control" ng-model="admission.student.parentDetails.motherDetails.middleName" name="mName">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInput">Last Name</label>
                                <input type="text" class="form-control" ng-model="admission.student.parentDetails.motherDetails.lastName" name="lName">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInput">Email</label>
                                <input type="text" class="form-control" ng-model="admission.student.parentDetails.motherDetails.email" name="email">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInput">Phone</label>
                                <input type="text" class="form-control" ng-model="admission.student.parentDetails.motherDetails.phone" name="phone">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInput">Identity</label>
                                <select class="form-control" ng-model="admission.student.parentDetails.motherDetails.IdentityCard.type" name="identity" ng-options="id for id in admission.idList"><option></option></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInput">Identity Number</label>
                                <input type="text" class="form-control" ng-model="admission.student.parentDetails.motherDetails.IdentityCard.number" name="idNo">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInput">Qualification</label>
                                <input type="text" class="form-control" ng-model="admission.student.parentDetails.motherDetails.qualification" name="qualification">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInput">Occupation</label>
                                 <select class="form-control" ng-model="admission.student.parentDetails.motherDetails.occupation" name="occupation" ng-options="occupation for occupation in admission.occupations"><option></option></select> 
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Present Address</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInput">AddressLine1</label>
                                        <input type="text" class="form-control" ng-model="admission.student.parentDetails.motherDetails.address.present.addressLine1" name="addressLine1">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInput">AddressLine2</label>
                                        <input type="text" class="form-control" ng-model="admission.student.parentDetails.motherDetails.address.present.addressLine2" name="addressLine2">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="exampleInput">State</label>
                                    <select class="form-control" ng-model="admission.student.parentDetails.motherDetails.address.present.state" name="state" ng-click="admission.student.updateCityList(admission.student.parentDetails.state)"
                                        ng-options="state for state in admission.states"><option></option></select>
                                </div>
                                <div class="col-md-4">
                                    <label for="exampleInput">City</label>
                                    <select class="form-control" ng-model="admission.student.parentDetails.motherDetails.address.present.city" name="city" ng-options="city for city in admission.cities"><option></option></select>
                                </div>
                                <div class="col-md-4">
                                    <label for="exampleInput">Pin Code</label>
                                    <input type="text" class="form-control" ng-model="admission.student.parentDetails.motherDetails.address.present.pin" name="pin">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span>Permanent Address</span>
                            <span class="pull-right">
                                <small>Same as present address</small>
                                <input type="checkbox" ng-model="checkedMotherAdd" ng-click="admission.sameAsPresentAdd(admission.student.parentDetails.motherDetails.address.present, checkedMotherAdd, 'mother')" name="sameAsPresent">
                            </span>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInput">AddressLine1</label>
                                        <input type="text" class="form-control" ng-model="admission.student.parentDetails.motherDetails.address.permanent.addressLine1" name="addressLine1">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInput">AddressLine2</label>
                                        <input type="text" class="form-control" ng-model="admission.student.parentDetails.motherDetails.address.permanent.addressLine2" name="addressLine2">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="exampleInput">State</label>
                                    <select class="form-control" ng-model="admission.student.parentDetails.motherDetails.address.permanent.state" name="state" ng-click="admission.student.updateCityList(admission.student.parentDetails.state)"
                                        ng-options="state for state in admission.states"><option></option></select>
                                </div>
                                <div class="col-md-4">
                                    <label for="exampleInput">City</label>
                                    <select class="form-control" ng-model="admission.student.parentDetails.motherDetails.address.permanent.city" name="city" ng-options="city for city in admission.cities"><option></option></select>
                                </div>
                                <div class="col-md-4">
                                    <label for="exampleInput">Pin Code</label>
                                    <input type="text" class="form-control" ng-model="admission.student.parentDetails.motherDetails.address.permanent.pin" name="pin">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row margin-top-10">
        <button class="btn btn-primary pull-right" type="submit" ng-click="admission.moveForward(admission.student.parentDetails, 2);" ng-disabled="parentDetail.$invalid">
            Class Details <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
        </button>
    </div>
</form>