<form name="PreviewDetails" novalidate>
    <div class="row-sm-4"style="background-color:lavender;">
        <div class="panel panel-default">
            <div class="panel-heading">Student Details 
                <div class="pull-right">
                    <span id="studentDetails">   
                        <a ng-click="admission.moveForward(admission, 0)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    </span>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-md-6">
                    <div class="col-md-12">
                        <label class="col-md-6">First Name:</label>
                        <span class="col-md-6">{{admission.student.firstName}}</span>
                    </div>
                    <div class="col-md-12">
                        <label class="col-md-6">Middle Name:</label>
                        <span class="col-md-6">{{admission.student.middleName}}</span>
                    </div>
                    <div class="col-md-12">
                        <label class="col-md-6">Last Name:</label>
                        <span class="col-md-6">{{admission.student.lastName}}</span>
                    </div>
                    <div class="col-md-12">
                        <label class="col-md-6">Date of Birth:</label>
                        <span class="col-md-6">{{admission.student.dob}}</span>
                    </div>
                    <div class="col-md-12">
                        <label class="col-md-6">Blood Group:</label>
                        <span class="col-md-6">{{admission.student.bloodGroup}}</span>
                    </div>
                    <div class="col-md-12">
                        <label class="col-md-6">Adhaar No.:</label>
                        <span class="col-md-6">{{admission.student.IdentityCard}}</span>
                    </div>
                    <div class="col-md-12">
                        <label class="col-md-6">AddressLine1:</label>
                        <span class="col-md-6">{{admission.student.address.addressLine1}}</span>
                    </div>
                    <div class="col-md-12">
                        <label class="col-md-6">AddressLine2:</label>
                        <span class="col-md-6">{{admission.student.address.addressLine2}}</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12">
                        <label class="col-md-6">State:</label>
                        <span class="col-md-6">{{admission.student.address.state}}</span>
                    </div>
                    <div class="col-md-12">
                        <label class="col-md-6">City:</label>
                        <span class="col-md-6">{{admission.student.address.city}}</span>
                    </div>
                    <div class="col-md-12">
                        <label class="col-md-6">Pin Code:</label>
                        <span class="col-md-6">{{admission.student.address.pin}}</span>
                    </div>
                    <div class="col-md-12">
                        <label class="col-md-6">Allergies:</label>
                        <span class="col-md-6">{{admission.student.allergies}}</span>
                    </div>
                    <div class="col-md-12">
                        <label class="col-md-6">Mother Tongue:</label>
                        <span class="col-md-6">{{admission.student.motherTongue}}</span>
                    </div>
                    <div class="col-md-12">
                        <label class="col-md-6">Mother Tongue:</label>
                        <span class="col-md-6">{{admission.student.rollNumber}}</span>
                    </div>
                </div>
            </div>
        </div> 
    </div>     
    <div class="row-sm-4"style="background-color:lavender;">
        <div class="panel panel-default">
            <div class="panel-heading">Parent Details
                <div class="pull-right">
                    <a ng-click="admission.moveForward(admission, 1)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-md-12"><strong><u>FATHER'S DETAILS</u></strong></div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <label class="col-md-6">First Name:</label>
                            <span class="col-md-6">{{admission.student.parentDetails.fatherDetails.firstName}}</span>
                        </div>
                        <div class="col-md-12">
                            <label class="col-md-6">Middle Name:</label>
                            <span class="col-md-6">{{admission.student.parentDetails.fatherDetails.middleName}}</span>
                        </div>
                        <div class="col-md-12">
                            <label class="col-md-6">Last Name:</label>
                            <span class="col-md-6">{{admission.student.parentDetails.fatherDetails.lastName}}</span>
                        </div>
                        <div class="col-md-12">
                            <label class="col-md-6">Email:</label>
                            <span class="col-md-6">{{admission.student.parentDetails.fatherDetails.email}}</span>
                        </div>
                        <div class="col-md-12">
                            <label class="col-md-6">Phone:</label>
                            <span class="col-md-6">{{admission.student.parentDetails.fatherDetails.phone}}</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <label class="col-md-6">Identity:</label>
                            <span class="col-md-6">{{admission.student.parentDetails.fatherDetails.IdentityCard.type}}</span>
                        </div>
                        <div class="col-md-12">
                            <label class="col-md-6">Identity No.:</label>
                            <span class="col-md-6">{{admission.student.parentDetails.fatherDetails.IdentityCard.number}}</span>
                        </div>
                        <div class="col-md-12">
                            <label class="col-md-6">Qualification:</label>
                            <span class="col-md-6">{{admission.student.parentDetails.fatherDetails.qualification}}</span>
                        </div>
                        <div class="col-md-12">
                            <label class="col-md-6">Occupation:</label>
                            <span class="col-md-6">{{admission.student.parentDetails.fatherDetails.occupation}}</span>
                        </div>
                        <div class="col-md-12">
                            <label class="col-md-6">&nbsp;</label>
                            <span class="col-md-6">&nbsp;</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div> <strong> <u>Present Address</u></strong></div>
                        <div class="col-md-12">
                            <label class="col-md-6">Address Line1:</label>
                            <span class="col-md-6">{{admission.student.parentDetails.fatherDetails.address.present.addressLine1}}</span>
                        </div>
                        <div class="col-md-12">
                            <label class="col-md-6">Address Line2:</label>
                            <span class="col-md-6">{{admission.student.parentDetails.fatherDetails.address.present.addressLine2}}</span>
                        </div>
                                
                        <div class="col-md-12">
                            <label class="col-md-6">State:</label>
                            <span class="col-md-6">{{admission.student.parentDetails.fatherDetails.address.present.state}}</span>
                        </div>
                        <div class="col-md-12">
                            <label class="col-md-6">City:</label>
                            <span class="col-md-6">{{admission.student.parentDetails.fatherDetails.address.present.city}}</span>
                        </div>                           
                        <div class="col-md-12">
                            <label class="col-md-6">Pin Code:</label>
                            <span class="col-md-6">{{admission.student.parentDetails.fatherDetails.address.present.pin}}</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel-heading"><strong><u> Permanent Address</u></strong></div>
                        <div class="col-md-12">
                            <label class="col-md-6">Address Line1:</label>
                            <span class="col-md-6">{{admission.student.parentDetails.fatherDetails.address.permanent.addressLine1}}</span>
                        </div>
                        <div class="col-md-12">
                            <label class="col-md-6">Address Line2:</label>
                            <span class="col-md-6">{{admission.student.parentDetails.fatherDetails.address.permanent.addressLine2}}</span>
                        </div>
                        <div class="col-md-12">
                            <label class="col-md-6">State:</label>
                            <span class="col-md-6">{{admission.student.parentDetails.fatherDetails.address.permanent.state}}</span>
                        </div>
                        <div class="col-md-12">
                            <label class="col-md-6">City:</label>
                            <span class="col-md-6">{{admission.student.parentDetails.fatherDetails.address.permanent.city}}</span>
                        </div>
                        <div class="col-md-12">
                            <label class="col-md-6">Pin Code:</label>
                            <span class="col-md-6">{{admission.student.parentDetails.fatherDetails.address.permanent.pin}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12"><strong><u>MOTHER'S DETAILS</u></strong></div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <label class="col-md-6">First Name:</label>
                                <span class="col-md-6">{{admission.student.parentDetails.motherDetails.firstName}}</span>
                            </div>
                            <div class="col-md-12">
                                <label class="col-md-6">Middle Name:</label>
                                <span class="col-md-6">{{admission.student.parentDetails.motherDetails.middleName}}</span>
                            </div>
                            <div class="col-md-12">
                                <label class="col-md-6">Last Name:</label>
                                <span class="col-md-6">{{admission.student.parentDetails.motherDetails.lastName}}</span>
                            </div>
                            <div class="col-md-12">
                                <label class="col-md-6">Email:</label>
                                <span class="col-md-6">{{admission.student.parentDetails.motherDetails.email}}</span>
                            </div>
                            <div class="col-md-12">
                                <label class="col-md-6">Phone:</label>
                                <span class="col-md-6">{{admission.student.parentDetails.motherDetails.phone}}</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <label class="col-md-6">Identity:</label>
                                <span class="col-md-6">{{admission.student.parentDetails.motherDetails.IdentityCard.type}}</span>
                            </div>
                            <div class="col-md-12">
                                <label class="col-md-6">Identity No.:</label>
                                <span class="col-md-6">{{admission.student.parentDetails.motherDetails.IdentityCard.number}}</span>
                            </div>
                            <div class="col-md-12">
                                <label class="col-md-6">Qualification:</label>
                                <span class="col-md-6">{{admission.student.parentDetails.motherDetails.qualification}}</span>
                            </div>
                            <div class="col-md-12">
                                <label class="col-md-6">Occupation:</label>
                                <span class="col-md-6">{{admission.student.parentDetails.motherDetails.occupation}}</span>
                            </div>
                            <div class="col-md-12">
                                <label class="col-md-6">&nbsp;</label>
                                <span class="col-md-6">&nbsp;</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel-heading"><strong><u> Present Address</u></strong></div>
                            <div class="col-md-12">
                                <label class="col-md-6">Address Line1:</label>
                                <span class="col-md-6">{{admission.student.parentDetails.motherDetails.address.present.addressLine1}}</span>
                            </div>
                            <div class="col-md-12">
                                <label class="col-md-6">Address Line2:</label>
                                <span class="col-md-6">{{admission.student.parentDetails.motherDetails.address.present.addressLine2}}</span>
                            </div>
                            <div class="col-md-12">
                                <label class="col-md-6">State:</label>
                                <span class="col-md-6">{{admission.student.parentDetails.motherDetails.address.present.state}}</span>
                            </div>
                            <div class="col-md-12">
                                <label class="col-md-6">City:</label>
                                <span class="col-md-6">{{admission.student.parentDetails.motherDetails.address.present.city}}</span>
                            </div>
                            <div class="col-md-12">
                                <label class="col-md-6">Pin Code:</label>
                                <span class="col-md-6">{{admission.student.parentDetails.motherDetails.address.present.pin}}</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel-heading"><strong><u> Permanent Address</u></strong></div>
                            <div class="col-md-12">
                                <label class="col-md-6">Address Line1:</label>
                                <span class="col-md-6">{{admission.student.parentDetails.motherDetails.address.permanent.addressLine1}}</span>
                            </div>
                            <div class="col-md-12">
                                <label class="col-md-6">Address Line2:</label>
                                <span class="col-md-6">{{admission.student.parentDetails.motherDetails.address.permanent.addressLine2}}</span>
                            </div>
                            <div class="col-md-12">
                                <label class="col-md-6">State:</label>
                                <span class="col-md-6">{{admission.student.parentDetails.motherDetails.address.permanent.state}}</span>
                            </div>
                            <div class="col-md-12">
                                <label class="col-md-6">City:</label>
                                <span class="col-md-6">{{admission.student.parentDetails.motherDetails.address.permanent.city}}</span>
                            </div>
                            <div class="col-md-12">
                                <label class="col-md-6">Pin Code:</label>
                                <span class="col-md-6">{{admission.student.parentDetails.motherDetails.address.permanent.pin}}</span>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="row-md-4"style="background-color:lavender;">
        <div class="panel panel-default">
            <div class="panel-heading">Class Details
                <div class="pull-right">
                    <a ng-click="admission.moveForward(admission, 2)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </div>
            </div> 
            <div class="panel-body">
                <div class="col-md-12">
                    <label class="col-md-6">Class Name:</label>
                    <span class="col-md-6">{{admission.student.classDetails.name}}</span>
                </div>
                <div class="col-md-12">
                    <label class="col-md-6">Annual Fee:</label>
                    <span class="col-md-6">{{admission.student.classDetails.annualFee}}</span>
                </div>
                <div class="col-md-12">
                    <label class="col-md-6">Buds-Kit:</label>
                    <span class="col-md-6">{{admission.student.classDetails.budskit}}</span>
                </div>
                <div class="col-md-12">
                    <label class="col-md-6">Tution Fee:</label>
                    <span class="col-md-6">{{admission.student.classDetails.tutionFee}}</span>
                </div>
                <div class="col-md-12">
                    <label class="col-md-6">E-Bips:</label>
                    <span class="col-md-6">{{admission.student.classDetails.eBips}}</span>
                </div>
                <div class="col-md-12">
                    <label class="col-md-6">Activity Fee:</label>
                    <span class="col-md-6">{{admission.student.classDetails.activityFee}}</span>
                </div>
                <div class="col-md-12">
                    <label class="col-md-6">Total:</label>
                    <span class="col-md-6">{{admission.student.classDetails.total}}</span>
                </div>
                <div class="col-md-12">
                    <label class="col-md-6">Apply Installment:</label>
                    <span class="col-md-6">{{admission.student.classDetails.instalment}}</span>
                </div>
            </div>
        </div>
    </div>      
    <div class="row margin-top-10">
        <button class="btn btn-primary pull-right" type="submit" ng-click="admission.save(admission.student);">
            Save Details <i class="fa fa-floppy-o" aria-hidden="true"></i>
        </button>
    </div>           
</form>