<form name="studentDetail" novalidate>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group" ng-class="{'error': studentDetail.fName.$touched && studentDetail.fName.$invalid}">
                <label for="exampleInput">First Name</label>
                <input type="text" class="form-control" ng-model="admission.student.firstName" name="fName" required>
                <span class="error-msg">This field is required.</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="exampleInput">Middle Name</label>
                <input type="text" class="form-control" ng-model="admission.student.middleName" name="mName">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group" ng-class="{'error': studentDetail.lName.$touched && studentDetail.lName.$invalid}">
                <label for="exampleInput">Last Name</label>
                <input type="text" class="form-control" ng-model="admission.student.lastName" name="lName" required>
                <span class="error-msg">This field is required.</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="exampleInput">Date Of Birth</label>
                <div class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{admission.format}}" ng-model="admission.student.dob" is-open="admission.popup.opened" datepicker-options="admission.dateOptions" ng-required="true"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="admission.open()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group" ng-class="{'error': studentDetail.bloodGroup.$touched && studentDetail.bloodGroup.$invalid}">
                <label for="exampleInput">Blood Group</label>
                <select class="form-control" ng-model="admission.student.bloodGroup" name="bloodGroup" ng-options="bg for bg in admission.bloodGroup" required><option></option></select>
                <span class="error-msg">This field is required.</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group" ng-class="{'error': studentDetail.adhaar.$touched && studentDetail.adhaar.$invalid}">
                <label for="exampleInput">Adhaar No.</label>
                <input type="tel" class="form-control" ng-model="admission.student.IdentityCard" name="adhaar" required>
                <span class="error-msg">This field is required.</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" ng-class="{'error': studentDetail.addressLine1.$touched && studentDetail.addressLine1.$invalid}">
            <label for="exampleInput">Address Line1</label>
            <input type="text" class="form-control" ng-model="admission.student.address.addressLine1" name="addressLine1" required>
            <span class="error-msg">This field is required.</span>
        </div>
        <div class="col-md-6">
            <label for="exampleInput">Address Line2</label>
            <input type="text" class="form-control" ng-model="admission.student.address.addressLine2" name="addressLine2">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" ng-class="{'error': studentDetail.state.$touched && studentDetail.state.$invalid}">
            <label for="exampleInput">State</label>
            <select class="form-control" ng-model="admission.student.address.state" name="state" ng-change="admission.updateCityList(admission.student.address.state)" ng-options="state for state in admission.states" required><option></option></select>
            <span class="error-msg">This field is required.</span>
        </div>
        <div class="col-md-4" ng-class="{'error': studentDetail.city.$touched && studentDetail.city.$invalid}">
            <label for="exampleInput">City</label>
            <select class="form-control" ng-model="admission.student.address.city" name="city" ng-options="city for city in admission.cities" required><option></option></select>
            <span class="error-msg">This field is required.</span>
        </div>
        <div class="col-md-4" ng-class="{'error': studentDetail.pin.$touched && studentDetail.pin.$invalid}">
            <label for="exampleInput">Pin Code</label>
            <input type="text" class="form-control" ng-model="admission.student.address.pin" name="pin" required>
            <span class="error-msg">This field is required.</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" ng-class="{'error': studentDetail.allergies.$touched && studentDetail.allergies.$invalid}">
            <label for="exampleInput">Allergies If Any</label>
            <input type="text" class="form-control" ng-model="admission.student.allergies" name="allergies" required>
            <span class="error-msg">This field is required.</span>
        </div>
        <div class="col-md-6" ng-class="{'error': studentDetail.motherTongue.$touched && studentDetail.motherTongue.$invalid}">
            <label for="exampleInput">Mother Tongue</label>
            <select class="form-control" ng-model="admission.student.motherTongue" name="motherTongue" ng-options="mt for mt in admission.motherTongue" required><option></option></select>
            <span class="error-msg">This field is required.</span>
        </div>
    </div>
    <div class="row margin-top-10">
        <button class="btn btn-primary pull-right" type="submit" ng-click="admission.moveForward(admission, 1);" ng-disabled="studentDetail.$invalid">
            Parent Details <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
        </button>
    </div>
</form>