<div class="container">

    <div class="col-sm-8 col-sm-offset-2 main">
        <div class="col-sm-6 left-side">
            <h1>Hello<br>World.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tristique justo eget nibh convallis pharetra.</p>
            <br>
            <p>Login with social media</p>
            <a href="javascript:void(0)" class="fb" ng-click="login.getUserList(user)">Login With Facebook</a>
            <a class="tw" href="http://deepak646.blogspot.in/" target="_blank">Login With Twitter</a>

        </div>
        <!--col-sm-6-->

        <div class="col-sm-6 right-side">
            <h1>Login</h1>
            <p>Don't have an account? Create your account, it takes less than a minute</p>

            <!--Form with header-->
            <div class="form">


                <div class="form-group">
                    <label for="form2">Your email</label>
                    <input type="text" id="form2" class="form-control" ng-model="user.email">

                </div>

                <div class="form-group">
                    <label for="form4">Your password</label>
                    <input type="password" id="form4" class="form-control" ng-model="user.password">

                </div>

                <div class="text-xs-center">
                    <a href="javascript:void(0)" class="btn btn-deep-purple" ng-click="login.userLogin(user)">Login</a>
                </div>


            </div>
            <!--/Form with header-->

        </div>
        <!--col-sm-6-->


    </div>
    <!--col-sm-8-->

</div>
<!--container-->