<div class="modal-header">
    <h3 class="modal-title">{{student.modalHeader}}</h3>
</div>

<div class="modal-body">
    <form name="studentDetail" novalidate>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group" ng-class="{'error': studentDetail.fName.$touched && studentDetail.fName.$invalid}">
                    <label for="exampleInput">First Name</label>
                    <input type="text" class="form-control" ng-model="student.details.firstName" name="fName" required>
                    <span class="error-msg">This field is required.</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="exampleInput">Middle Name</label>
                    <input type="text" class="form-control" ng-model="student.details.middleName" name="mName">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" ng-class="{'error': studentDetail.lName.$touched && studentDetail.lName.$invalid}">
                    <label for="exampleInput">Last Name</label>
                    <input type="text" class="form-control" ng-model="student.details.lastName" name="lName" required>
                    <span class="error-msg">This field is required.</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="exampleInput">Date Of Birth</label>
                    <div class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{student.format}}" ng-model="student.details.dob" is-open="student.popup.opened" datepicker-options="student.dateOptions" ng-required="true"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="student.open()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" ng-class="{'error': studentDetail.bloodGroup.$touched && studentDetail.bloodGroup.$invalid}">
                    <label for="exampleInput">Blood Group</label>
                    <select class="form-control" ng-model="student.details.bloodGroup" name="bloodGroup" ng-options="bg for bg in student.bloodGroup" required><option></option></select>
                    <span class="error-msg">This field is required.</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" ng-class="{'error': studentDetail.adhaar.$touched && studentDetail.adhaar.$invalid}">
                    <label for="exampleInput">Adhaar No.</label>
                    <input type="text" class="form-control" ng-model="student.details.IdentityCard" name="adhaar" required>
                    <span class="error-msg">This field is required.</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" ng-class="{'error': studentDetail.addressLine1.$touched && studentDetail.addressLine1.$invalid}">
                <label for="exampleInput">Address Line1</label>
                <input type="text" class="form-control" ng-model="student.details.address.addressLine1" name="addressLine1" required>
                <span class="error-msg">This field is required.</span>
            </div>
            <div class="col-md-6">
                <label for="exampleInput">Address Line2</label>
                <input type="text" class="form-control" ng-model="student.details.address.addressLine2" name="addressLine2">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" ng-class="{'error': studentDetail.state.$touched && studentDetail.state.$invalid}">
                <label for="exampleInput">State</label>
                <select class="form-control" ng-model="student.details.address.state" name="state" ng-change="student.updateCityList(student.details.address.state)" ng-options="state for state in student.states" required><option></option></select>
                <span class="error-msg">This field is required.</span>
            </div>
            <div class="col-md-4" ng-class="{'error': studentDetail.city.$touched && studentDetail.city.$invalid}">
                <label for="exampleInput">City</label>
                <select class="form-control" ng-model="student.details.address.city" name="city" ng-options="city for city in student.cities" required><option></option></select>
                <span class="error-msg">This field is required.</span>
            </div>
            <div class="col-md-4" ng-class="{'error': studentDetail.pin.$touched && studentDetail.pin.$invalid}">
                <label for="exampleInput">Pin Code</label>
                <input type="text" class="form-control" ng-model="student.details.address.pin" name="pin" required>
                <span class="error-msg">This field is required.</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" ng-class="{'error': studentDetail.allergies.$touched && studentDetail.allergies.$invalid}">
                <label for="exampleInput">Allergies If Any</label>
                <input type="text" class="form-control" ng-model="student.details.allergies" name="allergies" required>
                <span class="error-msg">This field is required.</span>
            </div>
            <div class="col-md-6" ng-class="{'error': studentDetail.motherTongue.$touched && studentDetail.motherTongue.$invalid}">
                <label for="exampleInput">Mother Tongue</label>
                <select class="form-control" ng-model="student.details.motherTongue" name="motherTongue" ng-options="mt for mt in student.motherTongue" required><option></option></select>
                <span class="error-msg">This field is required.</span>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="student.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="student.cancel()">Cancel</button>
</div>