<form name="noticeBoard" novalidate>
    <div class="panel panel-default">
        <div class="panel-heading">Notice Board</div>
        <div class="panel-body">
            <div class="col-md-12">
                <div class="row" ng-class="{'error':noticeBoard.sendTo.$touched && noticeBoard.sendTo.$invalid}">
                    <label for="exampleInput">Send To</label>
                    <select class="form-control" ng-model="noticeDetails.sendTo" name="sendTo" required>
                        <option>Parent</option>
                        <option>Student</option>
                        <option>Teacher</option>
                        <option>staff</option>
                    </select>
                    <span class="error-msg">This fileld is required.</span>
                </div>
                <div class="row" ng-class="{'error':noticeBoard.sendThrough.$touched && noticeBoard.sendThrough.$invalid}">
                    <label for="exampleInput">Send Through</label>
                    <select class="form-control" ng-model="noticeDetails.sendThrough" name="sendThrough" required>
                        <option>SMS</option>
                        <option>Email</option>
                        <option>Portal</option>
                    </select>
                    <span class="error-msg">This fileld is required.</span>
                </div>
                <div class="row" ng-class="{'error':noticeBoard.heading.$touched && noticeBoard.heading.$invalid}">
                    <label for="exampleInput">Notice Heading</label>
                    <input type="text" class="form-control" ng-model="noticeDetails.heading" name="heading" required>
                    <span class="error-msg">This fileld is required.</span>
                </div>
                <div class="row" ng-class="{'error':noticeBoard.body.$touched && noticeBoard.body.$invalid}">
                    <label for="exampleInput">Notice Body</label>
                    <input type="text" class="form-control" ng-model="noticeDetails.body" name="body" required>
                    <span class="error-msg">This fileld is required.</span>
                </div>
                <div class="row margin-top-10">
                    <button class="btn btn-primary pull-right" type="submit" ng-click="notice.save(noticeDetails);" ng-disabled="noticeBoard.$invalid">
                        Submit Notice <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>