<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>BIPS | Buds International Pre-School</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bower_components/angular-bootstrap/ui-bootstrap-csp.css" rel="stylesheet">
    <link rel="stylesheet" href="../bower_components/angular-toastr/dist/angular-toastr.min.css" />
    <link href="css/style.css" rel="stylesheet">

    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="../bower_components/angular-swx-session-storage/release/swx-session-storage.min.js"></script>
    <script src="../bower_components/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
    <script src="../bower_components/js-xlsx/dist/xlsx.full.min.js"></script>
    <script src="../bower_components/js-xlsx/shim.js"></script>

    <script src="config/constants.js"></script>
    <script src="modules/login/controllers/loginCtrl.js"></script>
    <script src="modules/login/services/loginSrvc.js"></script>
    <script src="modules/admission/controllers/admissionCtrl.js"></script>
    <script src="modules/admission/services/admissionSrvc.js"></script>
    <script src="modules/faculty/controllers/facultyCtrl.js"></script>
    <script src="modules/faculty/services/facultySrvc.js"></script>
    <script src="modules/notice-board/controllers/noticeCtrl.js"></script>
    <script src="modules/user/controllers/userCtrl.js"></script>
    <script src="modules/user/services/userSrvc.js"></script>
    <script src="modules/student/controllers/studentCtrl.js"></script>
    <script src="modules/student/services/studentSrvc.js"></script>
    <script src="modules/dashboard/controllers/dashboardCtrl.js"></script>
    <script src="js/script.js"></script>
    <script src="config/interceptor.js"></script>
</head>
<body>
<link href="../bower_components/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
<body class="home" ng-app="bips">
    <div class="overlay" ng-if="showLoader">
        <div class="loader"></div>
    </div>
    
    <div class="container-fluid display-table">
        <div class="row display-table-row">
            <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation" ng-if="topNavBar">
                <div class="logo">
                    <a hef="home.html"><img src="http://fakeimg.pl/250x100/D3D3D3/" alt="merkery_logo" class="hidden-xs hidden-sm">
                        <img src="http://fakeimg.pl/250x100/D3D3D3/" alt="merkery_logo" class="visible-xs visible-sm circle-logo">
                    </a>
                </div>
                <div class="navi">
                    <ul>
                        <li class="active"><a ui-sref="dashboard"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Dashboard</span></a></li>
                        <li ng-if="role == 'admin'"><a ui-sref="user"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">User</span></a></li>
                        <li><a ui-sref="admission"><i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Admission</span></a></li>
                        <li><a ui-sref="student"><i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Student</span></a></li>
                        <li><a ui-sref="notice"><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Notice</span></a></li>
                        <li><a ui-sref="faculty"><i class="fa fa-user" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Faculty</span></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-10 col-sm-11 display-table-cell v-align">
                <!--<button type="button" class="slide-toggle">Slide Toggle</button> -->
                <div class="row" ng-if="leftNavBar">
                    <header>
                        <div class="col-md-7">
                            <nav class="navbar-default pull-left">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                            </nav>
                            <div class="search hidden-xs hidden-sm">
                                <input type="text" placeholder="Search" id="search">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="header-rightside">
                                <ul class="list-inline header-top pull-right">
                                    <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                    <li>
                                        <a href="#" class="icon-info">
                                            <i class="fa fa-bell" aria-hidden="true"></i>
                                            <span class="label label-primary">3</span>
                                        </a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="http://fakeimg.pl/50x50/D3D3D3/" alt="user">
                                            <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <div class="navbar-content">
                                                    <span>Ywang Perl</span>
                                                    <p class="text-muted small">
                                                        me@ywangperl.com
                                                    </p>
                                                    <div class="divider">
                                                    </div>
                                                    <a href="#" class="view btn-sm active">View Profile</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </header>
                </div>
                <div class="user-dashboard" ui-view>
                    Loading...
                </div>
            </div>
        </div>

    </div>



    <!-- Modal -->
    <div id="add_project" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header login-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Add Project</h4>
                </div>
                <div class="modal-body">
                            <input type="text" placeholder="Project Title" name="name">
                            <input type="text" placeholder="Post of Post" name="mail">
                            <input type="text" placeholder="Author" name="passsword">
                            <textarea placeholder="Desicrption"></textarea>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="cancel" data-dismiss="modal">Close</button>
                    <button type="button" class="add-project" data-dismiss="modal">Save</button>
                </div>
            </div>

        </div>
    </div>
</body>
</html>
<script>
$(document).ready(function(){
    $('[data-toggle="offcanvas"]').click(function(){
        $("#navigation").toggleClass("hidden-xs");
    });
});




/*
var url = "test.xlsx";
var oReq = new XMLHttpRequest();
oReq.open("GET", url, true);
oReq.responseType = "arraybuffer";

oReq.onload = function(e) {
  var arraybuffer = oReq.response;

//   convert data to binary string
  var data = new Uint8Array(arraybuffer);
  var arr = new Array();
  for(var i = 0; i != data.length; ++i) arr[i] = String.fromCharCode(data[i]);
  var bstr = arr.join("");

//   Call XLSX
  var workbook = XLSX.read(bstr, {type:"binary"});

//   DO SOMETHING WITH workbook HERE
  var first_sheet_name = workbook.SheetNames[0];
//   Get worksheet
  var worksheet = workbook.Sheets[first_sheet_name];
  console.log(XLSX.utils.sheet_to_json(worksheet,{raw:true}));
}

oReq.send();
*/
</script>