<div ui-view>
    <form name="teacherDetail" novalidate>
        <div class="panel panel-default">
            <div class="panel-heading"> Teacher Details </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="checkbox-inline">
                                <input class="checkbox-large no-margine-top" type="checkbox" ng-model="faculty.details.class.nursery" name="nursery">
                                <large class="checkbox-label-large">Nursery</large>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="checkbox-inline">
                                <input class="checkbox-large no-margine-top" type="checkbox" ng-model="faculty.details.class.lkg" name="lkg">
                                <large class="checkbox-label-large">LKG</large>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="checkbox-inline">
                                <input class="checkbox-large no-margine-top" type="checkbox" ng-model="faculty.details.class.ukg" name="ukg">
                                <large class="checkbox-label-large">UKG</large>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="checkbox-inline">
                                <input class="checkbox-large no-margine-top" type="checkbox" ng-model="faculty.details.class.dayCare" name="dayCare">
                                <large class="checkbox-label-large">Day Care</large>
                            </label>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group" ng-class="{'error':teacherDetail.name.$touched && teacherDetail.name.$invalid}">
                            <label for="exampleInput">Name</label>
                            <input type="text" class="form-control" ng-model="faculty.details.firstName" name="name" required>
                            <span class="error-msg">First Name is required.</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInput">Middle Name</label>
                            <input type="text" class="form-control" ng-model="faculty.details.middleName" name="mName">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" ng-class="{'error':teacherDetail.lName.$touched && teacherDetail.lName.$invalid}">
                            <label for="exampleInput">Last Name</label>
                            <input type="text" class="form-control" ng-model="faculty.details.lastName" name="lName" required>
                            <span class="error-msg">Last Name is required.</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{'error':teacherDetail.email.$touched && teacherDetail.email.$invalid}">
                            <label for="exampleInput">Email</label>
                            <input type="text" class="form-control" ng-model="faculty.details.email" name="email"required>
                            <span class="error-msg">Email is required.</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{'error':teacherDetail.mobile.$touched && teacherDetail.mobile.$invalid}">
                            <label for="exampleInput">Mobile</label>
                            <input type="text" class="form-control" ng-model="faculty.details.phone" name="mobile" required>
                            <span class="error-msg">Mobile is required.</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{'error':teacherDetail.qualification.$touched && teacherDetail.qualification.$invalid}">
                            <label for="exampleInput">Qualification</label>
                            <input type="text" class="form-control" ng-model="faculty.details.qualification" name="qualification" required>
                            <span class="error-msg">Qualification is required.</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{'error':teacherDetail.experience.$touched && teacherDetail.experience.$invalid}">
                            <label for="exampleInput">Experience</label>
                            <input type="text" class="form-control" ng-model="faculty.details.experience" name="experience" required>
                            <span class="error-msg">Experience is required.</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{'error':teacherDetail.identity.$touched && teacherDetail.identity.$invalid}">
                            <label for="exampleInput">Identity</label>
                            <select class="form-control" ng-model="faculty.details.identity.type" name="identity" ng-options="id for id in faculty.idList" required><option></option></select>
                            <span class="error-msg">Identity is required.</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{'error':teacherDetail.adhaar.$touched && teacherDetail.adhaar.$invalid}">
                            <label for="exampleInput">Identity Number</label>
                            <input type="text" class="form-control" ng-model="faculty.details.identity.number" name="adhaar" required>
                            <span class="error-msg">Adhaar is required.</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group" ng-class="{'error':teacherDetail.motherTongue.$touched && teacherDetail.adhaar.$invalid}">
                            <label for="exampleInput">Mother Tongue</label>
                            <select class="form-control" ng-model="faculty.details.motherTongue" name="motherTongue" ng-options="mt for mt in faculty.motherTongue" required><option></option></select>
                            <span class="error-msg">Mother Tongue is required.</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" ng-class="{'error':teacherDetail.maritalStatus.$touched && teacherDetail.maritalStatus.$invalid}">
                            <label for="exampleInput">Marital Status</label>
                            <select class="form-control" ng-model="faculty.details.maritalStatus" name="maritalStatus" ng-options="mt for mt in faculty.maritalStatus" required><option></option></select>
                            <span class="error-msg">Marital Status is required.</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" ng-class="{'error':teacherDetail.spouse.$touched && teacherDetail.spouse.$invalid}">
                            <label for="exampleInput">Name of Spouse</label>
                            <input type="text" class="form-control" ng-model="faculty.details.spouse" name="spouse" required>
                            <span class="error-msg">Marital Status is required.</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Present Address</div>
                            <div class="panel-body">
                                <div class="form-group" ng-class="{'error':teacherDetail.PaddressLine1.$touched && teacherDetail.PaddressLine1.$invalid}">
                                    <label for="exampleInput">Address Line1</label>
                                    <input type="text" class="form-control" ng-model="faculty.details.address.present.addressLine1" name="PaddressLine1" required>
                                    <span class="error-msg">addressLine1 is required.</span>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInput">Address Line2</label>
                                    <input type="text" class="form-control" ng-model="faculty.details.address.present.addressLine2" name="addressLine2">
                                </div>
                                <div class="form-group" ng-class="{'error':teacherDetail.Pstate.$touched && teacherDetail.Pstate.$invalid}">
                                    <label for="exampleInput">State</label>
                                    <select class="form-control" ng-model="faculty.details.address.present.state" name="Pstate" ng-change="faculty.updateCityList(faculty.details.address.present.state, 'present')"
                                        ng-options="state for state in faculty.states" required><option></option></select>
                                        <span class="error-msg"> State is required.</span>
                                </div>
                                <div class="form-group" ng-class="{'error':teacherDetail.Pcity.$touched && teacherDetail.Pcity.$invalid}">
                                    <label for="exampleInput">City</label>
                                    <select class="form-control" ng-model="faculty.details.address.present.city" name="Pcity" ng-options="city for city in faculty.presentCities" required><option></option></select>
                                    <span class="error-msg">City is required.</span>
                                </div>
                                <div class="form-group" ng-class="{'error':teacherDetail.Ppin.$touched && teacherDetail.Ppin.$invalid}">
                                    <label for="exampleInput">Pin Code</label>
                                    <input type="text" class="form-control" ng-model="faculty.details.address.present.pin" name="Ppin" required>
                                    <span class="error-msg">Pin is required.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <span>Permanent Address</span>
                                <span class="pull-right">
                                    <small>Same as present address</small>
                                    <input type="checkbox" ng-model="sameAsPresent" ng-click="faculty.sameAsPresentAdd(faculty.details.address.present, sameAsPresent)"name="sameAsPresent">
                                </span>
                            </div>
                            <div class="panel-body">
                                <div class="form-group" ng-class="{'error':teacherDetail.addressLine1.$touched && teacherDetail.addressLine1.$invalid}">
                                    <label for="exampleInput">Address Line1</label>
                                    <input type="text" class="form-control" ng-model="faculty.details.address.permanent.addressLine1" name="addressLine1" required>
                                    <span class="error-msg">addressLine1 is required.</span>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInput">Address Line2</label>
                                    <input type="text" class="form-control" ng-model="faculty.details.address.permanent.addressLine2" name="addressLine2" required>
                                </div>
                                <div class="form-group" ng-class="{'error':teacherDetail.state.$touched && teacherDetail.state.$invalid}">
                                    <label for="exampleInput">State</label>
                                    <select class="form-control" ng-model="faculty.details.address.permanent.state" name="state" ng-change="faculty.updateCityList(faculty.details.address.permanent.state, 'permanent')"
                                        ng-options="state for state in faculty.states" required><option></option></select>
                                        <span class="error-msg">State is required.</span>
                                </div>
                                <div class="form-group" ng-class="{'error':teacherDetail.city.$touched && teacherDetail.city.$invalid}">
                                    <label for="exampleInput">City</label>
                                    <select class="form-control" ng-model="faculty.details.address.permanent.city" name="city" ng-options="city for city in faculty.permanentCities" required><option></option></select>
                                    <span class="error-msg">City is required.</span>
                                </div>
                                <div class="form-group" ng-class="{'error':teacherDetail.pin.$touched && teacherDetail.pin.$invalid}">
                                    <label for="exampleInput">Pin Code</label>
                                    <input type="text" class="form-control" ng-model="faculty.details.address.permanent.pin" name="pin" required>
                                    <span class="error-msg">Pin is required.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{'error':teacherDetail.bips.$touched && teacherDetail.bips.$invalid}">
                            <label for="exampleInput">BIPS Certification</label>
                            <select class="form-control" ng-model="faculty.details.bipsCertification" name="bips" required>
                                <span class="error-msg">BIPS certificate is required.</span>
                            <option>yes</option>
                            <option>No</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{'error':teacherDetail.certificate.$touched && teacherDetail.certificate.$invalid}">
                            <label for="exampleInput">Any other Certification</label>
                            <input type="text" class="form-control" ng-model="faculty.details.anyCertification" name="certificate" required>
                            <span class="error-msg">Certification is required.</span>
                        </div>
                    </div>
                </div>

                <div class="row margin-top-10">
                    <button class="btn btn-primary pull-right" type="submit" ng-click="faculty.saveFaculty(faculty.details);" ng-disabled="teacherDetail.$invalid || faculty.btnDisabled">
                        Submit Details <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>