<div ng-init="faculty.getFacultyList()">
    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>class</th>
                <th>address</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="data in faculty.list">
                <td>{{data.firstName}} {{data.middleName}} {{data.lastName}}</td>
                <td>{{data.email}}</td>
                <td>{{data.phone}}</td>
                <td>
                    <p ng-if="data.class.dayCare">dayCare</p>
                    <p ng-if="data.class.lkg">lkg</p>
                    <p ng-if="data.class.ukg">ukg</p>
                    <p ng-if="data.class.nursery">nursery</p>
                </td>
                <td>{{data.address.present.addressLine1}}, {{data.address.present.addressLine2}}, {{data.address.present.city}}, {{data.address.present.state}}, {{data.address.present.pin}}</td>
                <td>
                    <div class="dropdown pull-right">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Action
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a ng-click="faculty.openFacultyDetails($index)">edit</a></li>
                            <li><a ng-click="faculty.deleteFaculty($index)">delete</a></li>
                            <li><a ng-click="faculty.openAsignList(data.student, $index)">assign</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>