<div class="container-fluid">
    <uib-tabset active="faculty.active">
        <uib-tab ng-repeat="tab in faculty.tabs" heading="{{tab.title}}" ng-click="faculty.manageTab(tab.id)">
            <div ng-include="tab.content"></div>
        </uib-tab>
    </uib-tabset>
</div>