<div ui-view>
    <form name="userDetails" novalidate>
        <div class="panel panel-default">
            <div class="panel-heading"> User Details </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="row" ng-class="{'error':userDetails.role.$touched && userDetails.role.$invalid}">
                        <label for="role">Role</label>
                        <select class="form-control" id="role" ng-model="user.userDetail.role" name="role" ng-options="role for role in user.role" required>
                            <option></option>
                        </select>
                        <span class="error-msg">This fileld is required.</span>
                    </div>
                    <div class="row" ng-class="{'error':userDetails.name.$touched && userDetails.name.$invalid}">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" ng-model="user.userDetail.name" name="name" required>
                        <span class="error-msg">This fileld is required.</span>
                    </div>
                    <div class="row" ng-class="{'error':userDetails.email.$touched && userDetails.email.$invalid}">
                        <label for="email">E-mail</label>
                        <input type="text" class="form-control" id="email" ng-model="user.userDetail.email" name="email" required>
                        <span class="error-msg">This fileld is required.</span>
                    </div>
                    <div class="row" ng-class="{'error':userDetails.phone.$touched && userDetails.phone.$invalid}">
                        <label for="phone">Phone</label>
                        <input type="text" class="form-control" id="phone" ng-model="user.userDetail.phone" name="phone" required>
                        <span class="error-msg">This fileld is required.</span>
                    </div>
                    <div class="row">
                        <div class="col-md-6" ng-class="{'error': userDetails.addressLine1.$touched && userDetails.addressLine1.$invalid}">
                            <label for="addressLine1">Address Line1</label>
                            <input type="text" class="form-control" id="addressLine1" ng-model="user.userDetail.address.addressLine1" name="addressLine1" required>
                            <span class="error-msg">This field is required.</span>
                        </div>
                        <div class="col-md-6">
                            <label for="addressLine2">Address Line2</label>
                            <input type="text" class="form-control" id="addressLine2" ng-model="user.userDetail.address.addressLine2" name="addressLine2">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4" ng-class="{'error': userDetails.state.$touched && userDetails.state.$invalid}">
                            <label for="state">State</label>
                            <select class="form-control" id="state" ng-model="user.userDetail.address.state" name="state" ng-change="user.updateCityList(user.userDetail.address.state)" ng-options="state for state in user.states" required><option></option></select>
                            <span class="error-msg">This field is required.</span>
                        </div>
                        <div class="col-md-4" ng-class="{'error': userDetails.city.$touched && userDetails.city.$invalid}">
                            <label for="city">City</label>
                            <select class="form-control" id="city" ng-model="user.userDetail.address.city" name="city" ng-options="city for city in user.cities" required><option></option></select>
                            <span class="error-msg">This field is required.</span>
                        </div>
                        <div class="col-md-4" ng-class="{'error': userDetails.pin.$touched && userDetails.pin.$invalid}">
                            <label for="pin">Pin Code</label>
                            <input type="text" class="form-control" id="pin" ng-model="user.userDetail.address.pin" name="pin" required>
                            <span class="error-msg">This field is required.</span>
                        </div>
                    </div>
                    <div class="row margin-top-10">
                        <button class="btn btn-primary pull-right" type="submit" ng-click="user.save(user.userDetail);" ng-disabled="userDetails.$invalid || user.btnDisabled">
                            Submit Details <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>