<div class="container-fluid">
    <uib-tabset active="user.active">
        <uib-tab ng-repeat="tab in user.tabs" heading="{{tab.title}}" ng-click="user.manageTab(tab.id)">
            <div ng-include="tab.content"></div>
        </uib-tab>
    </uib-tabset>
</div>