<div class="modal-header">
    <h3 class="modal-title">{{faculty.modalHeader}}</h3>
</div>
<div class="modal-body">
    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Name</th>
                <th>DOB</th>
                <th>Blood Group</th>
                <th>Father Name</th>
                <th>Mother Name</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="data in faculty.assignList">
                <td>
                    <input type="checkBox" ng-model="data.assigned" ng-change="faculty.currentRecord($index, data.assigned)">
                </td>
                <td>{{data.firstName}} {{data.middleName}} {{data.lastName}}</td>
                <td>{{data.dob}}</td>
                <td>{{data.bloodGroup}}</td>
                <td>{{data.parentDetails[0].fatherDetails.firstName}} {{data.parentDetails[0].fatherDetails.middleName}} {{data.parentDetails[0].fatherDetails.lastName}}</td>
                <td>{{data.parentDetails[0].motherDetails.firstName}} {{data.parentDetails[0].motherDetails.middleName}} {{data.motherDetails[0].fatherDetails.lastName}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="faculty.ok(faculty.assignFlag)">OK</button>
    <button class="btn btn-warning" type="button" ng-click="faculty.cancel()">Cancel</button>
</div>